# Akuity Platform
AKUITY_ARGOCD_INSTANCE=roche-workshop
AKUITY_ORG_NAME=akuity

# Your GitHub repository
GITOPS_REPO_URL=https://github.com/YOUR_USERNAME/roche-workshop.git
GITHUB_USERNAME=YOUR_GITHUB_USERNAME
GITHUB_PAT=YOUR_GITHUB_PAT

# Workshop identifiers
WORKSHOP_NAME=roche-workshop

# Argo CD destination cluster
ARGOCD_DESTINATION=roche-workshop