# Akuity Platform
AKUITY_ARGOCD_INSTANCE=<your-argocd-instance>
AKUITY_KARGO_INSTANCE=<your-kargo-instance>
AKUITY_ORG_NAME=akuity

# Your GitHub repository
GITOPS_REPO_URL=https://github.com/YOUR_USERNAME/roche-workshop.git
GITHUB_USERNAME=YOUR_GITHUB_USERNAME
GITHUB_PAT=YOUR_GITHUB_PAT

# Unique identifier for your workshop
WORKSHOP_NAME=<your-unique-workshop-name>

# Argo CD destination cluster
ARGOCD_DESTINATION=roche-workshop